<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Title</title>
    {% comment %} <link rel="stylesheet" href="style.css"> {% endcomment %}
</head>
<body style="background-color: aquamarine;">
    <h1>Student Information</h1>
    {% if stud %}
    <table style="height: 250px; width: 400px; border: 1px solid blue; text-align: center; font-size: large; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
        <tr>
            <th>SNO</th>
            <th>Name</th>
            <th>age</th>
            <th>Email</th>
        </tr>
        {% for i in stud %}
        <tr>
            <td>{{ i.id }}</td>
            <td>{{ i.sno }}</td>
            <td>{{ i.sname }}</td>
            <td>{{ i.age }}</td>
            <td>{{ i.email }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <h2>Records not found</h2>
    {% endif %}
    <a href="{% url 'home2' %}" target="_blank">Back to Home</a>
</body>
</html>