<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Title</title>
    {% comment %} <link rel="stylesheet" href="style.css"> {% endcomment %}
</head>
<body style="background-color: aquamarine;">
    <h1>info</h1>
    {% comment %} {% if Insertstud %} {% endcomment %}
    <table style="height: 250px; width: 500px; border: 1px solid blue; text-align: center; font-size: large; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
        <tr>
            <th>ID</th>
            <th>SNO</th>
            <th>Name</th>
            <th>fees</th>
        </tr>
        {% comment %} {% for i in Insertstud %} {% endcomment %}
        <tr>
            <td>{{ i.id }}</td>
            <td>{{ i.no }}</td>
            <td>{{ i.name }}</td>
            <td>{{ i.fees }}</td>
            <td><a href="{% url 'update2' i.id %}"><button>Update</button></a></td>
        </tr>
        {% comment %} {% endfor %} {% endcomment %}
    </table>
    {% comment %} {% else %} {% endcomment %}
        <h2>Records not found</h2>
    {% comment %} {% endif %} {% endcomment %}
    <a href="{% url 'home2' %}" target="_blank">Back to Home</a>
</body>
</html>